[Unit]
AssertPathExists=/home/nopaste/nimNopaste

[Service]
WorkingDirectory=/home/nopaste/nimNopaste
ExecStart=/home/noPaste/nopaste/nimNopaste/nopaste
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target