body {
  font-family: monospace;
  font-size: 1.2em;
}

#menu {
  margin-bottom: 20px;
  border-bottom: solid 3px;
  font-size: 2em;
}

#name {
  width: 100%;
}

#content {
  width: 100%;
  height: 80%
}

.delete {
  position: absolute;
  right: 10px;
  color: red;
}

.entry {
  border-bottom: dotted 1px;
}

.entry:nth-child(even) {background: #CCC}
.entry:nth-child(odd) {background: #FFF}