body {
  font-family: monospace;
  font-size: 1.2em;
}

#menu {
  margin-bottom: 20px;
  border-bottom: solid 3px;
  font-size: 2em;
}

#name {
  width: 100%;
}

#content {
  width: 100%;
  height: 80%
}

.delete {
  position: absolute;
  right: 10px;
  color: red;
}

.edit {
  color: #454510;
}

.raw {
  color: green;
}

.download {
  color: blueviolet;
}

.entry {
  border-bottom: dotted 1px;
}

.entry:nth-child(even) {background: #CCC}
.entry:nth-child(odd) {background: #FFF}

iframe {
  width: 100%;
  height: 100%;
}

#qr {
  /* position: absolute;
  right: 0px; */
}

table, th, td {
  border: 1px solid black;
}